* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, #cce4f6, #ffd8b3);
}

header {
  width: 100%;
  padding: 20px 0;
  position: relative;
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
}

h1 {
  font-size: 28px;
  color: #195caa;
  margin-top: 120px;
  margin-bottom: 20px;
  font-weight: 700;
}

.menu ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.menu li {
  margin: 0 15px;
  background-color: #007BFF;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.menu li:hover {
  background-color: #0056b3;
}

.menu-input {
  display: none;
}

.menu-icono {
  display: none;
}

main.panel-de-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  flex-grow: 1;
}

.bienvenida {
  margin-bottom: 40px;
}

.bienvenida h2 {
  font-size: 20px;
  color: #195caa;
}

.bienvenida p {
  font-size: 18px;
  color: #333;
}

.accesos-rapidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #007BFF;
  color: white;
  padding: 18px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #0056b3;
}

.card a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

footer.footer {
  width: 100%;
  background-color: #195caa;
  color: white;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .menu-barra {
    background-color: #007BFF;
    padding: 10px 0;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icono {
    width: 30px;
    cursor: pointer;
    display: block;
  }

  .menu {
    display: none;
    background-color: #007BFF;
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .menu-input {
    display: none;
  }

  .menu-input:checked+.menu-barra+.menu {
    display: block;
  }

  .bienvenida {
    margin-top: -40px;
  }

  .accesos-rapidos {
    margin-bottom: 40px;
  }
}